@using Abp.Authorization.Users
@using Abp.Extensions
@using Abp.MultiTenancy
@model Snow.Template.Web.Models.Account.LoginFormViewModel
@section Styles
    {
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>

}
@section Scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
    </environment>
}
<!-- /.login-logo -->
<div id="LoginArea" class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">@L("LogIn")</p>
        <form id="LoginForm" asp-action="Login" method="post">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <input type="hidden" name="returnUrlHash" />
            <!--这个id="﻿LoginArea"是个bug-->
            <div class="mb-3" id="﻿LoginArea">
                <div class="input-group">
                    <input type="text" id="usernameOrEmailAddress" name="usernameOrEmailAddress" class="form-control" placeholder="@L("UserNameOrEmail")" required autofocus maxlength="@AbpUserBase.MaxEmailAddressLength">
                    <div class="input-group-append">
                        <i class="fas fa-envelope input-group-text" style="font-weight:900;"></i>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <input type="password" name="Password" class="form-control" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                    <div class="input-group-append">
                        <i class="fas fa-lock input-group-text" style="font-weight:900"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" name="RememberMe" id="rememberme" value="true"> @L("RememberMe")
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <button id="LoginButton" type="submit" class="btn btn-primary btn-block btn-flat">@L("LogIn")</button>
                </div>
            </div>
        </form>
        @if (Model.IsSelfRegistrationAllowed)
        {
            <p class="mb-0">
                <a asp-action="Register" class="text-center">@L("Register")</a>
            </p>
        }
    </div>
    <!-- /.login-card-body -->
</div>