@using Abp.Authorization.Users
@model Snow.Template.Web.Models.Account.RegisterViewModel
@{
    ViewBag.DisableTopBar = true;
}
@section Styles
    {
<environment names="Development">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/lib/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/lib/AdminLTE/dist/css/adminlte.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Register.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Register.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="card">
    <div class="card-body register-card-body">
        <p class="login-box-msg">@L("Register")</p>

        <form action="../../index.html" method="post">

            @if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            }
            <input type="hidden" name="IsExternalLogin" value="@Model.IsExternalLogin.ToString()" />
            <input type="hidden" name="ExternalLoginAuthSchema" value="@Model.ExternalLoginAuthSchema" />

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="@L("Name")" name="Name" value="@Model.Name" required maxlength="@AbpUserBase.MaxNameLength">
                <div class="input-group-append input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="@L("Surname")" name="Surname" value="@Model.Surname" required maxlength="@AbpUserBase.MaxSurnameLength">
                <div class="input-group-append input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="@L("EmailAddress")" name="EmailAddress" value="@Model.EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength">
                <div class="input-group-append input-group-text">
                    <span class="fas fa-envelope"></span>

                </div>
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="@L("UserName")" name="UserName" value="@Model.UserName" required maxlength="@AbpUserBase.MaxUserNameLength">
                <div class="input-group-append input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="@L("Password")" name="Password" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                <div class="input-group-append input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                        <label for="agreeTerms">
                            I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a asp-action="Login" class="text-center">@L("Back")</a>
    </div>
    <!-- /.form-box -->
</div><!-- /.card -->



